<html>
    <head>
        <title>Lets play with ejs</title>
        <body>
            <p>Hello this is the playground for the EJS</p>
            <p>this is going to be fun???</p>
        </body>
    </head>
</html>